@charset "UTF-8";

/* 헤더 영역 크기 조절 */
#header { min-height:100px; max-height:100px; height:100px; }
.header {
	margin: 0 auto;
	padding: 0;
	position:relative;
	padding-left: 300px;
	padding-right: 300px;
	overflow:hidden;
}

/* 로고 이미지 설정 */
.logo_box { float:left; position:absolute; bottom:3px; }
.logo_box img { width:120px; height:60px; text-align:left; }

/* 메뉴 설정 */
.menu_box { float:left; position:absolute; bottom:5px; text-align:center; right:40%; }
a { text-decoration:none; font-size: 18px; font-weight:bold; color:#262627; }
a:hover { color:#03C75A; }
a:active-color { color:#03C75A; }
.login { float:right; position:absolute; bottom:5px; right:300px; }

/* 선 설정 */
hr { border:1px solid #D1D1D1; margin: 10px 0 0 0; padding:0; }

/* 로그아웃 버튼 */
.logout	{ color: #D1D1D1; }