@charset "UTF-8";

/* 헤더 영역 크기 조절 */
.header {
	height:100px; position:relative;
	padding-top: 60px;
	padding-left: 300px;
	padding-right: 300px;
}

/* 로고 이미지 설정 */
.logo_box { float:left; position:absolute; bottom:3px; }
.logo_box>img { width:120px; height:60px; text-align:left; }

/* 메뉴 설정 */
.menu_box { float:left; position:absolute; bottom:5px; text-align:center; right:40%; }
a { text-decoration:none; font-size: 18px; font-weight:bold; color:black; }
a:hover { color:#69E92E; }
a:active-color { color:#69E92E; }
.login { float:right; position:absolute; bottom:5px; right:300px; }

/* 선 설정 */
hr { border:1px solid lightgray; }