@charset "UTF-8";

/* 동물 프로필 선택칸 */
.pet_profile { width: 700px; }
.pet_td1 { width: 80px; padding-left:35px; padding-top:10px; padding-bottom:10px; }
.pet_td2 { width: 120px; padding-left:30px; }
.pet_td3 { width: 500px; padding-left:30px; }

/* 조건 설정 칸 */
.setting { width: 100%; text-align: left; padding-top:10px; }
.setting_td1 { padding-left:30px; padding-top:15px; padding-bottom:10px; width:100px; vertical-align: center; }
.setting_td2 { padding-top:15px; padding-bottom:10px; width:300px; }
#paytype { border: 1px solid #D1D1D1; border-radius:5px; width:250px; height:35px; padding-left:15px; }
#pay { border: 1px solid #D1D1D1; border-radius:5px; width:250px; height:35px; }
.time_start { border: 1px solid #D1D1D1; border-radius:5px; width:115px; height:35px; padding-left:15px; }
.time_end { border: 1px solid #D1D1D1; border-radius:5px; width:115px; height:35px; padding-left:15px; }
	/* 캘린더 */
.form-control { width:250px; height:35px; }

/* 위치 검색바 */
.address_search { border: 1px solid #D1D1D1; border-radius: 10px; }
.btn { width: 50px; }
#address { border-style:none; }

/* 제목 입력칸 */
input.title {
	width: 100%;
	min-height: 50px;
	border: 1px solid #D1D1D1;
	border-radius: 10px;
	padding-left: 30px;
}
/* 내용 입력칸 */
.textarea {
	width: 100%;
	min-height: 150px;
	border: 1px solid #D1D1D1;
	border-radius: 10px;
	padding-left: 30px;
	padding-top: 15px;
}