@charset "UTF-8";
/* recruitapplydetailpage.jsp와 recruitdetailpage.jsp의 공통 설정 */
.list-header { display: flex; justify-content: space-between; }

/* recruitdetailpage.jsp의 모달 설정 */
	/* 제목 입력칸 */
input.title {
	width: 100%;
	min-height: 50px;
	border: 1px solid darkgray;
	border-radius: 10px;
}
	/* 내용 입력칸 */
.textarea {
	width: 100%;
	min-height: 150px;
	border: 1px solid darkgray;
	border-radius: 10px;
}

/* 소제목 설정 */
.content-inner-title { padding-left:15px; }

/* 이미지 설정 */
img { object-fit: cover; }

/* recruitapplydetailpage.jsp의 전달메시지 설정 */
.content_p { padding-left:15px; }

/* 사용자 프로필 설정 */
.profile { padding-top:15px; padding-left:15px; padding-bottom:15px; padding-right:15px; }
.user_img_div { padding-left:15px; border-radius: 70%; }
.user_img { width:100px; height:100px; }
.user_table { width:800px; margin-left:20px; }
.user_td1 { padding-left:15px; padding-top:15px; }
.user_td2 { padding-top:15px; }

/* 펫 프로필 설정 */
.pet_profile { width: 800px; }
.pet_img { width:70px; height:70px; border-radius: 70%; overflow: hidden; }
.pet_td1 { width:80px; padding-left:10px; padding-top:10px; padding-bottom:10px; }
.pet_td2 { width:70px; }
.pet_td3 { width:70px; }
.pet_td4 { width:70px; }
.pet_td5 { width:70px; }
.pet_td6 { width:300px; }

/* 조건 테이블 설정 */
.condition_td1 { padding-top:10px; padding-bottom:10px; width:70px; }

/* 지도 테이블 설정 */
.area_td1 { padding-top:10px; padding-bottom:10px; padding-left:15px; width:300px; vertical-align:center; }
.area_td2 { padding-top:10px; padding-bottom:10px; width:600px; vertical-align:center; }