@charset "UTF-8";

/* mybeforereserv 드롭다운 */
.petSelect { float: right; text-align: center; }

/* mybeforereserv 기간 설정 버튼 */
.dateSelect { float:right; }
.datecalendar { float:right; width:250px;}

.list { display: none; position:absolute; }

/* mybeforereserv 페이징 */
#paging { text-align: center; }
.pagenum { cursor: pointer;} 

